body {
    background-image: linear-gradient(rgba(7, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.tiles-grid {
    margin-top: 200;
    margin-right: 650;
    margin-left: 575;
}

#title0 {
    font-size: 25;
    margin-top: 275;
    color: aliceblue;
    font-family: Lato;
}

#title2 {
    font-size: 25;
    margin-top: 275;
    color: black;
    font-family: Lato;
}

#words1 {
    font-size: 20;
    color: black;
    margin-top: 125;
    font-family: Lato;
}

#text0 {
    font-size: 28;
    font-family: Lato;
    color: black;
}

#text1 {
    font-size: 30;
    font-family: Lato;
    color: black;
}

#text2 {
    font-size: 30;
    font-family: Lato;
    color: black;
}

#text3 {
    font-size: 30;
    font-family: Lato;
    color: white;
}

#pic0 {
    height: 133px;
    width: 310px;
}

#pic1 {
    height: 250px;
    width: 310px;
}